<h2>Duplicate Businesses</h2>
<p>Aufgelistet, wenn Name und Stadt sich gleichen</p>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Stadt</th>
      <th>Ids</th>
    </tr>
  </thead>
  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.name %></td>
        <td><%= business.city %></td>
        <td>
          <% Business.where(name: business.name, city: business.city).each do |duplicate_business| %>
            <%= link_to duplicate_business.id, business_path(duplicate_business.id)  %> |
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
