<h2>Business Types</h2>
<h4>Die Kategorie des Businesses (Bar, Restaurant, etc.)</h4>
<h4><%= link_to 'Business Types anlegen', business_types_path %></h4>

<h2>Businesses</h2>
<h4>Sieh dir all unsere Businesses an und schalte sie frei</h4>
<h4><%= link_to 'Business freischalten', businesses_path %></h4>