<h2>Business Kategorien</h2>
<%= link_to 'Business Kategorien von google übernehmen',
            update_business_types_path,
            class: "btn btn-primary" %>

<h2>Dead Links</h2>
<h4>Auf Button Klick werden alle Links überprüft.</h4>
<p>Wenn ein Link korrigiert wurde, bitte den "Dead Link" hier löschen</p>
<p>Wenn das Business gelöscht wurde, dann wird der "Dead Link" hier automatisch gelöscht.</p>
<p>Der Prozess alle Links zu checken, <strong>wird sehr lange dauern</strong> und sollte deshalb nur bewusst gemacht werden.</p>
<%= link_to "Check dead links", check_dead_links_path, class: "btn btn-primary" %>
<br>
<%= link_to 'View dead links', dead_links_path %>
